# Entornos virtuales
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Variables de entorno
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Archivos del sistema y de Mac
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Logs
*.log
server.log

# IDEs
.vscode/
.idea/
*.swp
